
.seccionContacto {
    background-color: $colorPrimario;
    width: 100vw;
    height: auto;

    h1, p {
        text-align: center;
    }

    form {
        width: 60vw;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 2em;

        fieldset {
            border: none;
            padding: 1rem 0;

            &:not(:last-of-type) {
                border-bottom: 3px solid $colorNegro;
            }
        }

        label {
            display: block;
            margin: 0.5rem 0;
        }

        input, textarea {
            margin: 10px 0 0 0;
            padding: 0.5rem;
            width: 100%;
            min-height: 2em;
            background-color: $colorBlanco;
            border: 1px solid $colorBlanco;
        }

        input[type="submit"] {
            display: block;
            width: 60%;
            margin: 1em auto;
            padding: 0;
            height: 2em;
            font-size: 1.1rem;
            background-color: $colorcta;
            border: 1px solid $colorcta;
            min-width: 300px;
            color: $colorBlanco;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                box-shadow: 5px 5px 5px #aaa;
                transform: scale(1.1);
                transition: 0.5s;
            }
            
        }

        // inputs con errores
        .errorDeCampo {
            border: 2px solid #900;
            background-color: #FDD
        }
    }
}