
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.75;
    font-family: Nexa,Helvetica,Arial,sans-serif;
}

body {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
}

/* ------------colores--------------*/

    $colorPrimario: #B8D9D0;
    $colorcta: #F2798F;
    $colorBlanco: #fefefe;
    $colorNegro: #111111;
    $colorSecundario: #faf8f4;
    $rosa: #ffbeca;
    $colorLinkedin: #0B6BBF;
    $colorBehance: #DFB322;
    $colorMail: #a1c1aa;


    /* ------------tipografías--------------*/

    $fontDestacada: ('Six Caps', sans-serif);
    $fontPrincipal : ('lato', Verdana, Geneva, Tahoma, sans-serif);

/* ------------barra de navegación--------------*/

header {
    width: 100vw;
    height: 5em;
    background-color: #fefefe;
    position: fixed;
    top: 0;
    z-index: 100;

    .navbar {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        position: relative;
        justify-content: space-evenly;

        .navbarLeft {
            left: 0;
            display: flex;
            justify-content: space-around;

            ul {
                margin-right: 24px;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                
                li {
                    width: 200px;
                    list-style: none;
                    margin: 0;
                    transition: all .2s;

                    a {
                        text-decoration: none;
                        color: black;
                        display: block;
                        padding: 1.7rem 1.4rem;
                        font-size: 1em;

                    }

                    &:hover {
                        transform: translate(0px);
                    }

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        transition: all .4s;
                    }

                    &::after {
                        width: 200px;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                    }

                    &:hover::before, &:hover::after {
                        background: $colorcta;
                        box-shadow: 0 0 10px $colorcta;
                    }
                }
            }
        }

        .logo {
            margin: 1rem 0.5rem;

                img {
                    width: 6em;
                    height: 2.5em;
                    object-fit: cover;
                    display: block;
                }
        }

        .navbarRight {
            right: 0;
            left: 0;
            display: flex;
            justify-content: space-around;

            ul {
                margin-left: 24px;
                display: flex;
                align-items: center;
                // justify-content: space-around;

                li {
                    width: 200px;
                    list-style: none;
                    margin: 0;
                    transition: all .2s;

                    a {
                        text-decoration: none;
                        color: black;
                        display: block;
                        padding: 1.7rem 1.4rem;
                        font-size: 1em;
                    }

                    &:hover {
                        transform: translate(0px);
                    }

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        transition: all .4s;
                    }

                    &::after {
                        width: 200px;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                    }

                    &:hover::before, &:hover::after {
                        background: $colorcta;
                        box-shadow: 0 0 10px $colorcta;
                    }
                }
            }
        }

        .iconos {
            height: 100%;
            width: auto;
            padding: 16px;
            position: absolute;
            right: 16px;

            a {
                cursor: pointer;

                .botonCarrito {

                    height: 50px;
                    width: 50px;
                    display: flex;
                    background-color: white;
                    padding: 10px;
                    justify-content:space-evenly;
                    align-items: center;
                    transition: all .3s;

                    i {
                        font-size: 20px;
                    }

                    span {
                        position: absolute;
                        font-size: 18px;
                        top: 2px;
                        right: 16px;
                    }
                }
            }
        }
    }
}

/* ------------Subtitulos--------------*/

.titulo {
    text-align: center;
    font-size: 42px;
    font-family: $fontPrincipal;
    font-weight: 400;
    padding: 2rem;
    padding-top: 0;
}

/* ------------Curva de separación--------------*/

.curva {
    width: 100vw;
    display: flex;
}

//----------------------------footer--------------------------*/

footer {
    height: 24vh;
    width: 100%;
    background-color: $colorSecundario;
    display: flex;
    flex-direction: column;
    align-items: center;

    .socialIconos {
        min-width: 20vw;
        height: 16vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-top: 2vh;

        li {
            list-style: none;
            padding: 20px;

            a {
                display: block;
                position: relative;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 2em;
                border-radius: 50%;
                text-align: center;
                color: $colorSecundario;
                background: #000;
                transition: 0.5s;
                overflow: hidden;

                &:hover {
                    transform: scale(1.2);
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    z-index: -1;
                    transform: scale(1);
                    top: 0;
                    left: 0;
                    transition: 0.5s;
                }

                &:hover::before {
                    transform: scale(0);
                
                }
            }

            &:nth-child(1) a,
            &:nth-child(1) a::before {
                background-color: $colorLinkedin;
            }

            &:nth-child(2) a,
            &:nth-child(2) a::before {
                background-color: $colorBehance;
            }

            &:nth-child(3) a,
            &:nth-child(3) a::before {
                background-color: $colorMail;
            }

            /* hover efecto */

            &:nth-child(1) a:hover {
                background-color: $colorSecundario;
                color: $colorLinkedin;
            }

            &:nth-child(2) a:hover {
                background-color: $colorSecundario;
                color: $colorBehance;
            }

            &:nth-child(3) a:hover {
                background-color: $colorSecundario;
                color: $colorMail;
            }
        }
    }

    .copyright {
        font-size: 12px;
        color: $colorNegro;
        padding: 10px;
    }
}

// Media querys para tablets 

@media only screen and (max-width: 1024px) {
    header {
        .navbar {
            justify-content: space-evenly;
            .navbarLeft {
                ul {
                    li {
                        width: 120px;

                        a {
                            padding: 1rem 1rem;
                        }
                    }
                }
            }
            .navbarRight {
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        width: 120px;
                        a {
                            padding: 0;
                        }
                    }
                }
            }

            .iconos {
                right: 8px;
            }
        }
    }

    .titulo {
        font-size: 32px;
        font-weight: 300;
        padding: 1rem;
    }
}